:root {

    --casino-bg: #e6e6e6;

    --casino-thead-bg: #2980B9;
    --casino-theadColor: #fff;

    --casino-borderColor: #fff;


    ///////// Button Casino
    --btn_casino-bg: #20c51a;
    --btn_casino-color: #fff;
    --btn_casino-borderColor: #168212;

    --btn_casino-bg_hover: #168212;
    --btn_casino-color_hover: #fff;
    --btn_casino-borderColor_hover: #168212;
    /////////

    ////////  Button Overview
    --btn_overview-bg: #4661b8;
    --btn_overview-color: #fff;
    --btn_overview-borderColor: #224ac7;

    --btn_overview-bg_hover: var(--btn_overview-bg);
    --btn_overview-color_hover: var(--btn_overview-color);
    --btn_overview-borderColor_hover: var(--btn_overview-borderColor);


    ////// Button Reviews
    --btn_reviews-bg: #E6E6E6;
    --btn_reviews-color: #872b3a;
    --btn_reviews-borderColor: #872b3a;

    --btn_reviews-bg_hover: var(--btn_reviews-bg);
    --btn_reviews-color_hover: var(--btn_reviews-color);
    --btn_reviews-borderColor_hover: var(--btn_reviews-borderColor);



}




.table_casino {
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
    background-color: var(--casino-bg);
}
.table_casino a{
    text-decoration: none;
}
.table_casino th{
    text-align: center;
    padding: 8px 0;
    color: var(--casino-theadColor);
    background-color: var(--casino-thead-bg);
    border: 1px solid var(--casino-borderColor);
}

.table_casino td {

    border: 1px solid var(--casino-borderColor);
}


.td_name{
    max-width: 200px;
}

.td_name p{
    text-align: center;
    font-weight: 700;
}
.td_name img{
    display: block;
    text-align: center;
    max-width: 200px;
}


.td_manufacturers img{
    border: 1px solid #000;
    margin-left: 5px;
    margin-bottom: 5px;
}

.td_currencies{
    text-transform: uppercase;
}

.btn_casino{
    width: 100%;
    max-width: 200px;
    display: block;
    padding: 10px 4px;
    margin: 10px auto;
    font-size: 18px;
    line-height: 20px;
    color: var(--btn_casino-color);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--btn_casino-bg);
    box-sizing: border-box;
    border: 2px solid var(--btn_casino-borderColor);
    transition: .2s all;
}

.btn_casino:hover,
.btn_casino:focus{
    color: var(--btn_casino-color_hover);
    background-color: var(--btn_casino-bg_hover);
    border-color: var(--btn_casino-borderColor_hover);
    transition: .2s all;
}


.btn_overview{
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 10px 3px;
    font-size: 18px;
    line-height: 20px;
    color: var(--btn_overview-color);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--btn_overview-bg);
    box-sizing: border-box;
    border: 2px solid var(--btn_overview-borderColor);
    margin: 10px auto;
    transition: .2s all;

}

.btn_overview:hover,
.btn_overview:focus{
    color: var(--btn_overview-color_hover);
    background-color: var(--btn_overview-bg_hover);
    border-color: var(--btn_overview-borderColor_hover);
    transition: .2s all;
}





.btn_reviews{
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 10px 3px;
    font-size: 16px;
    line-height: 20px;
    color: var(--btn_reviews-color);
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: var(--btn_reviews-bg);
    box-sizing: border-box;
    border: 1px dotted var(--btn_reviews-borderColor);
    margin: 10px auto;
}

.btn_reviews:hover,
.btn_reviews:focus{
    color: var(--btn_reviews-color_hover);
    background-color: var(--btn_reviews-bg_hover);
    border-color: var(--btn_reviews-borderColor_hover);
    transition: .2s all;
}





@media only screen and (max-width: 768px) {

    .table_casino table,
    .table_casino thead,
    .table_casino tbody,
    .table_casino tr,
    .table_casino th,
    .table_casino td {
        display: block;
    }

    .table_casino thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table_casino tr {
        border: 1px solid #ccc;
    }

    .table_casino td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        white-space: normal;
        text-align: left;
        padding: 5px 10px 5px calc(50% + 10px);
    }

    .table_casino td:before {
        content: attr(data-title);
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(50% - 20px);
        padding: 5px 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}